.line-item-highlight {
  background: #F0A500;
}

@keyframes line-item-highlight {
  0% {
  background: rgb(255, 255, 255);
  }
  100% {
    background: #F0A500;
  }
}
  .line-item-highlight {
  animation: line-item-highlight 1s;
  }
