<hr class="border border-info">
<div class="w-full">
  <!-- <div class="alert alert-primary" role="alert">
    <%= render 'store/notice' %>
  </div> -->



    <div class="row  my-5">
      <div class="col d-flex justify-content-end">
        <img class="espiga" src="assets/espiga1.png" alt="" >
      </div>
      <div class="col">
        <h3 class="font-bold text-light text-center">Nuestros Productos</h3>
      </div>
      <div class="col d-flex justify-content-start">
        <img class="espiga1" src="assets/espiga1.png" alt="">
      </div>
    </div>

<!-- cards de productos -->
  <%= turbo_stream_from 'products' %>
  <div class="container">
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <% cache @products do %>
        <% @products.each do |product| %>
          <% cache product do %>
              <%= render partial: 'store/product', object: product %>


          <% end %>

        <% end %>

      <% end %>

    </div>
  </div>




</div>


