<div id="quantity">
  <span  class="position-absolute translate-middle badge rounded-circle quantity-cart line-item-highlight">
    <%= cart.total_quantity %>
    <span class="visually-hidden">unread messages</span>
  </span>
</div>
